/* Movie Review (CSS Layout) Homework - CSS Styles */
body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.4;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
    background-image: url(images/background.png);
    background-repeat: repeat;
    color: #404040;
    letter-spacing: 0.5px;
}
.banner{
    background-image: url(images/bannerbg.png);
    background-repeat: repeat-x;
    text-align: center;
}
h1{
    font-size: 24pt;
    font-weight: 700;
    text-align: center;
    font-family:  Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
    color: #000000;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;    
    position: relative;
}
.sidebar{
    float: right;
    width: 250px;
    background: #A2B964;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar::after, .reviews p::after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.main{
    width: 550px;
}
.rotten{
    background-image: url(images/rbg.png);
    background-repeat: repeat-x;
    font-size: 48pt;
    color: red;
    font-weight: 700;
    vertical-align: middle;
}
.rotten img{
    float: left;
}
.reviews{
    columns: 2;
    column-gap: 2%;
    padding: 0 1.5%;
}
.reviews .review-body{
    border: 2px solid gray;
    background-color: #E8DC9B;  
    border-radius: 10px;
    padding: 8px;
    margin: 0;
    font-weight: 700;
}
.reviews p img{
    float: left;
    margin-right: 5px;
}
.reviews .review-by{
    margin-bottom: 20pt;
}
dl{
    margin: 10pt;
}
.sidebar dl dd{
    margin-bottom: 10pt;
}
.sidebar dl dt{
    font-weight: 700
}
.pagination-info{
    background-color: #A2B964;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    text-align: center;
}
.validators{
    opacity: .5;
    position: fixed;
    right: 0;
    bottom: 0;
}
dd ul{
    list-style: none;
    padding-left: 0;
}