body {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 12pt;
	margin-left: 20px;
	margin-right: 20px;
}

#header {
	text-align: center;
	margin-bottom: 1em;
}

h1 {
	font-size: 200%;
	font-weight: normal;
	font-style: italic;
	font-family: "Impact", fantasy;
}

legend {
	font-family: "Impact", fantasy;
	font-size: 120%;
}

textarea {
	font-family: monospace;
	font-size: 12pt;
}
.bigger{
	font-size: 2em;
}
button{
	display: block;
}
/* Added styles*/
.styled{
	font-weight: 700;
	color: green;
	text-decoration: underline;
}
#wrapper.bg{
	background-image: url(http://www.cs.washington.edu/education/courses/190m/CurrentQtr/labs/6/hundred-dollar-bill.jpg);
	background-repeat: repeat;
}

/*footer styles*/
footer{
    padding: 20px 0;
    margin-top: 40px;
    border-top: 1px solid #cccccc; 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .validators{
	margin-top: 15px;
}
footer .validators a{
    margin-left: 15px;
}